.container {
    background-color: rgb(230,230,230);
    padding: 8px;
    text-align: center;
}

/* CSS below for skyscrapers image */
/* .container {
    font-style: italic;
    padding: 24px;
    box-sizing: border-box;
    background-color: bisque;
} */

div h1 {
    text-decoration: underline;
}
div p {
    color: blue;
    font-weight: bold;
}